* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  max-width: 500px;
  height: 80vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inputField {
  padding: 7px;
  margin: 7px 0;
  width: 100%;
  border-radius: 5px;
}

.contactBtn {
  width: 100%;
  padding: 8px;
  margin-top: 7px;
  border-radius: 5px;
  background: black;
  color: white;
  outline: none;
}
